#app {
    margin: 0 1%;
}

.el-dialog {
    max-width: fit-content;
}

.dialog-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

#data-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

#data-button-group>* {
    margin-left: 0;
}

.data-option-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.data-option-group>* {
    white-space: normal;
    height: fit-content;
    min-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#do-progress {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px
}

#do-status {
    display: flex;
    gap: 10px;
    align-items: center;
}

#do-question {
    margin: 20px 0;
}

#question-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#question-options {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.option-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.option-group>* {
    height: fit-content !important;
    min-height: 40px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin: 0;
}

#option-text {
    width: 100%;
    white-space: normal;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#do-check {
    margin-top: 15px;
}

#current-answer-tag {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    gap: 5px;
}

#current-answer-tag>* {
    white-space: normal;
    height: fit-content;
    min-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
}

@media (max-width: 768px) {
    #do-control {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}